<div class="parallax-container">
  <div class="parallax" materialize="parallax" ng-reflect-materialize="parallax">
    <img src="../../assets/headers/login.jpg" style="display: block; transform: translate3d(-50%, 548px, 0px);">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12"><br/>
      <h4>Login</h4>
      <br/><div class="divider"></div><br/>
      <h5>Login mit bestehendem Konto:</h5><br/>
    </div>
    <div class="col s12">
      <a class="waves-effect waves-light btn-large" (click)="loginGoogle()" id="google">
        <i class="material-icons left">
          <img src='../../assets/Google_Logo.svg.png' height="70" width="70"/>
        </i>Mit Google-Konto Einloggen </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn-large" (click)="loginFb()" id="fb">
        <i class="material-icons left">
          <img src='../../assets/Facebook_Logo.svg' height="70" width="70"/>
        </i>Mit Facebook-Konto Einloggen</a>
    </div>
  </div>
  <br/><div class="divider"></div><br/>
  <div class="row">
    <div class="col s12">
      <h5>Login per E-Mail Konto</h5>
      <form autocomplete="off" novalidate class="login-form" [formGroup]="form">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" name="email" formControlName="email">
          <label for="email" data-error="Bitte geben sie eine gültige E-Mail Adresse ein!" data-success="">E-Mail</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="passwort" type="password" name="password" formControlName="password">
          <label for="passwort">Passwort</label>
        </div>
        <div class="col s12" align="right">
          <button class="btn waves-effect waves-light" (click)="loginEmail()">
            Einloggen
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <br/><div class="divider"></div><br/>
  <div class="row">
    <div class="col s12">
      <h5>Noch kein Benutzerkonto?</h5><br/>
      <a class="waves-effect waves-light btn-large" routerLink="/register">
        <i class="material-icons left">
          <img src='../../assets/reg.svg.png' height="70" width="70"/>
        </i>Benutzerkonto anlegen</a>
    </div>
  </div>
</div>



<!--
      <div class="divider"></div>
      <div class="section">
        <h5 class="left-align subtitle">Login per E-Mail:</h5><br>
        <span class="error" *ngIf="error">{{ error }}</span>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
          <div class="row">
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" (ngModel)="email" name="email" class="validate" required>
              <label for="email" data-error="Bitte geben sie eine gültige E-Mail Adresse ein!" data-success="">E-Mail</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input id="passwort" type="password" (ngModel)="password" name="password" class="txt" required>
              <label for="passwort">Passwort</label>
            </div>
          </div>
          <div class="row col s12 right">
            <button class="btn waves-effect waves deep-orange darken-1" type="submit" [disabled]="!formData.valid">
              Einloggen
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="section">
        <h5 class="left-align subtitle">Noch kein Benutzerkonto?</h5>
        <div class="row">
          <a class="waves-effect waves deep-orange darken-1 btn-large" routerLink="/signup">
            <i class="material-icons left">
              <img src='../../assets/reg.svg.png' height="70" width="70"/>
            </i>Registrieren</a>
        </div>
      </div>
    </div>
  </div>
</div>





-->
