<div class="parallax-container">
  <div class="parallax" materialize="parallax" ng-reflect-materialize="parallax">
    <img src="../../assets/headers/portfolio.png" style="display: block; transform: translate3d(-50%, 548px, 0px);">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12"><br/>
      <h4>Portfolio</h4>
      <br/><div class="divider"></div><br/>
      <div #carousel class="carousel" materialize="carousel">
        <a class="carousel-item"><img src="../../assets/portfolio/1.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/2.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/3.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/4.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/5.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/6.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/7.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/8.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/9.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/10.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/11.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/12.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/13.jpg"></a>
        <a class="carousel-item"><img src="../../assets/portfolio/14.jpg"></a>
      </div>
    </div>
  </div>
</div>
