<div class="parallax-container">
  <div class="parallax" materialize="parallax" ng-reflect-materialize="parallax">
    <img src="../../assets/headers/imprint.png" style="display: block; transform: translate3d(-50%, 548px, 0px);">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12"><br/>
      <h4>Impressum</h4>
      <br/><div class="divider"></div><br/>
      <h5>Anbieter:</h5>
      <p>
        T&M Fotografie<br/>
        Ernst-Boehestraße 10<br/>
        67059 Ludwigshafen</p>
      <br/><div class="divider"></div><br/>
      <h5>Kontakt::</h5>
      <p>
        Telefon: 0176/1234567<br/>
        e-Mail: tmfotografie@stud.mail.de</p>
    </div>
  </div>
</div>
