<div class="parallax-container">
  <div class="parallax" materialize="parallax" ng-reflect-materialize="parallax">
    <img src="../../assets/headers/home.jpg" style="display: block; transform: translate3d(-50%, 548px, 0px);">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12"><br/>
      <h4>Willkommen bei T&M Fotografie</h4>
      <br/><div class="divider"></div><br/>
      <blockquote>
        <div class="section">
          <h4 class="left-align with-subtitle">Das Wesen des Menschen bei der Aufnahme sichtbar zu machen, ist die höchste Kunst der Fotografie.</h4>
          <h5 class="left-align subtitle">– Friedrich Dürrenmatt –</h5>
        </div>
      </blockquote>
    </div>
  </div>
</div>
